<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <!--    <listeners>
        <listener class-name='com.amwater.listeners.ListenerClass'/>
    </listeners> -->
    <test name = "Web Demo" >
         <packages>
          	  <package name ="com.HomePage.*"/>
       	 </packages>
     </test>
</suite>
